#hero {
  background: url("@/assets/images/mobilebanner.webp") no-repeat center;
  background-size: cover;
}
#hero .row {
  min-height: 250px;
}
#hero h1 {
  font-weight: 700;
  font-size: 40px;
}
#hero p {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
}

#contents {
  background: #e9eef1;
}



@media (min-width: 576px) { 

}


@media (min-width: 768px) { 
  #hero {
    background: url("@/assets/images/desktopbanner.webp") no-repeat center;
  }
}


@media (min-width: 992px) { 

}


@media (min-width: 1200px) { 
  #hero h1 {
    font-size: 56px;
  }
  #hero .row {
    min-height: 400px;
  }
  #pods .container,
  #contents .container {
    max-width: 920px;
  }
}


@media (min-width: 1400px) {

}








