/* section {
  padding: 60px 10px;
} */
#hero {
  background: url("https://via.placeholder.com/1920x650");
  background-size: contain;
}
#hero .row {
  min-height: 400px;
}
#hero h1 {
  font-weight: 700;
}
#hero p {
  font-size: 24px;
  letter-spacing: 2px;
}



@media (min-width: 576px) { 

}


@media (min-width: 768px) { 
  
}


@media (min-width: 992px) { 

}


@media (min-width: 1200px) { 
  #pods .container {
    max-width: 920px;
  }
}


@media (min-width: 1400px) {

}